<a href="/users/<%= current_user.id %>">Profile</a>
<h2>My Questions</h2>

<% if @question.present? %>
<dl>
<%Question.where(user_id: current_user.id).each do |question|%>
   <dt><%= question.title %></dt>
   <dd><%= question.description %></dd>
   <dd>
      <form action="/questions/<%= question.id %>">
        <input type="submit" value="Answer" />
      </form>

			<div>
				<form action="/questionvotes/<%= question.id %>/up" method="post" class='qupvotebutton' id="questionup-<%=question.id %>">
					<input type="hidden" name=questionvote[question_id] value="<%= question.id %>">
					<input type="hidden" name=questionvote[updown] value="true">
					<input type="submit" value="Upvote | <%= count_question_upvotes(question) %>">
				</form>
				<form action="/questionvotes/<%= question.id %>/down" method="post" class='qdownvotebutton' id="questiondown-<%=question.id %>">
					<input type="hidden" name=questionvote[question_id] value="<%= question.id %>">
					<input type="hidden" name=questionvote[updown] value="false">
					<input type="submit" value="Downvote | <%= count_question_downvotes(question) %>">
				</form>
			</div>

   </dd>

</dl>   
   <%end%>
  <%end%>



	
