<h2><%= @user.name %></h2>

<!-- <p>Your email is <%= @user.email %></p> -->

<div id="Feed">
    <h3>Feed</h3>
  <div class='panel'>
      <p><a href="/users/<%= @user.id %>/my_answer">My Answers</a></p>
      <p><a href="/users/<%= @user.id %>/my_question">My Questions</a></p>
</div>
</div>

<h4>Ask a question</h4>
<form method="post" action="/question">
    <input type=text placeholder="Ask" name="question[title]"></br>
    <input type=text placeholder="Enter Question Details (Optional)" name="question[description]"><br>
    <input type=submit value="Submit Question">
</form>
<%= @error if @error.present? %> 